<template>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 text-start">
                <h5 style="margin-top: 50%;">Choose Photo: </h5>
              </div>
              <div class="col-md-4">
                <div class="outer-circle">
                  <div class="preview">
                    <span v-if="this.preview_img === null">
                      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16" style="margin-top: 20%;">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                      </svg>
                    </span>
                    <span v-else>
                      <img :src="this.preview_img" id="preview"/>
                    </span>
                  </div>
                </div>
                <input type="file" accept=".jpg" id="imgFile" :onchange="previewImage" />
              </div>
              <div class="col-md-4">
                <button type="button" name="button" class="btn btn-primary" style="margin-top: 120%">Upload</button>
              </div>
            </div>
            <div class="row" style="margin-top: 10%;">
              <div class="col-md-4 text-start">
                <h5>Choose Title: </h5>
              </div>
              <div class="col-md-4 text-start">
                <input type="text" placeholder="Your Title Here" v-model="this.title">
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary" @click="uploadPhoto()" data-bs-dismiss="modal">Post</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: '',
      preview_img: null
    }
  },
  methods: {
    previewImage(e) {
      const file = e.target.files[0]
      this.preview_img = URL.createObjectURL(file)
    },
    uploadPhoto() {
      this.img = document.getElementById('imgFile').value
      if(this.title === '' || document.getElementById('imgFile').files[0] === '') return

      let file = document.getElementById('imgFile').files[0]

      let data = new FormData()
      data.append('file', file)
      data.append('name', this.title)

      this.$http.post('http://catstagram.lofty.codes/api/posts/', data).then(res => {
        if(res.status === 201) {
          this.$root.updateSuccess('Posted Successfully')
          this.$router.path === '/home' ? this.$router.go() : this.$router.push('/home')
        }
      }).catch((error) => {
        this.$root.updateError(error)
      })
    }
  }
}
</script>

<style scoped>
.modal-content {
  width: 700px;
}

.outer-circle {
  height: 250px;
  width: 250px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 5%;
}

#preview {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  margin-top: 20%;
}
</style>
