<template>
  <div class="footer">
    <p>Footer Section</p>
  </div>
</template>

<script>

</script>

<style scoped>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
</style>
