<template>
  <div class="col">
    <div class="card" style="height: 20rem; width: 15rem;">
      <div class="circular-landscape" style="left: 45px; margin-top: 15px;" >
        <img class="card-img-top" :src="getImgUrl(photo_data.image)" style="">
      </div>
      <div class="card-body">
        <div class="row" style="margin-bottom: 5%;">
          <div class="col">
            <div class="placement" :class="{'not-liked': !liked, 'liked': liked}" @click="liked = !liked">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 15 15" id="likeButton" @click="likePost(photo_data)">
                <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
              </svg>
            </div>
          </div>
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16" @click="sharePost(photo_data)">
              <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
            </svg>
          </div>
        </div>
        <p v-if="!photo_data.comments[0]"></p>
        <span v-else>
          <p v-if="photo_data.comments[0].text.length > 25">{{ photo_data.comments[0].text.substring(0,25) }}...</p>
          <p v-else>{{ photo_data.comments[0].text }}</p>
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16" @click="goToPost(photo_data)">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['photo_data'],
  data() {
    return {
      liked: false
    }
  },
  methods: {
    getImgUrl(img) {
      return `http://catstagram.lofty.codes/media/${img}`
    },
    likePost(post) {
      //can send post data to db to store liked photos but well just change to color
      console.log(post.pk)
    },
    sharePost(post) {
      //copy url + name to send to specific post to clipboard to send to friends
      console.log(`/image/${post.name}`)
    },
    goToPost(post) {
      this.$router.push(`/image/${post.pk}`)
    }
  }
}
</script>

<style scoped>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
}

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.circular-landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.not-liked > svg {
  fill: currentColor;
}

.liked > svg {
  fill: red;
}

svg {
  cursor: pointer;
}
</style>
