<template>
  <div class="card">
  <img class="card-img-top" :src="getImgUrl(photo_data.image)" style="">
  <div class="card-body">
    <h5 class="card-title">{{ photo_data.name }}</h5>
    <input type="text" name="" placeholder="new comment" style="margin-right: 2%;" v-model="this.new_comment">
    <button type="button" name="button" class="btn btn-primary" @click="submitComment()">Comment</button>
    <ul class="list-group list group-flush" v-for="comment in photo_data.comments" :key="comment.pk">
      <li class="list-group-item text-start">{{ comment.text }}</li>
    </ul>
  </div>
</div>
</template>

<script>
export default {
  props: ['pk'],
  created() {
    this.getPhotoData()
  },
  data() {
    return {
      photo_data: [],
      new_comment: ''
    }
  },
  methods: {
    getPhotoData() {
      this.$http.get(`http://catstagram.lofty.codes/api/posts/${this.pk}`).then(res => {
        this.photo_data = res.data
      })
    },
    getImgUrl(img) {
      return `http://catstagram.lofty.codes/media/${img}`
    },
    submitComment() {
      if(this.new_comment === '') return

      this.$http.post('http://catstagram.lofty.codes/api/comments/', {"entry": this.photo_data.pk, "text": this.new_comment}).then(res => {
        if(res.status === 201) {
          this.$root.updateSuccess('Comment Posted')
          this.new_comment = ''
          this.getPhotoData()
        }
      })
    }
  }
}
</script>

<style scoped>
.card {
  width: 50rem;
  margin: 0 0 10% 20%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.card-img-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
</style>
