<template>
  <ul class="nav">
    <li class="nav-item py-3" style="left: 5px; position: fixed; cursor: pointer;" @click="this.$router.push('/home')">Catstagram</li>
    <span v-if="isAuthenticated === true">
      <li class="nav-item py-3" style="right: 75px; position: fixed;"><button type="button" class="btn btn-primary" name="button" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Photo</button></li>
      <li class="nav-item py-3 dropdown" style="right: 25px; position: fixed;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <div class="dropdown-content">
          <p>{{user_name}}</p>
          <p @click="logOut()" style="cursor:pointer;">Logout</p>
        </div>
      </li>
    </span>
  </ul>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  computed: {
    ...mapGetters(['isAuthenticated', 'user_name'])
  },
  methods: {
    ...mapActions(['logOut'])
  }
}
</script>

<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
</style>
