<template>
  <div id="app">
    <ModalView />
    <div style="position: fixed; width: 100%; overflow: hidden; z-index: 1; top: 0;">
      <TopSection />
    </div>
    <div class="container" style="padding-top: 20px;">
      <router-view />
    </div>
    <FooterSection />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import TopSection from './components/TopSection'
import FooterSection from './components/FooterSection'
import ModalView from './components/AddPhotoModal'
export default {
  name: 'App',
  components: {
    TopSection,
    FooterSection,
    ModalView,
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  created() {
    if (this.$route.path == "/" && this.isAuthenticated === false) {
      this.$router.push("/login")
    }
  },
  data() {
    return {
      loading_screen: false
    }
  },
  methods: {
    showLoadingScreen() {
      this.loading_screen = true
    },
    hideLoadingScreen() {
      this.loading_screen = false
    },
    updateError(error) {
      this.$toast.error(
        error,
        {
          duration: 2000,
          position: "bottom-right"
        }
      )
    },
    updateSuccess(message) {
      this.$toast.success(
        message,
        {
          duration: 2000,
          position: "bottom-right"
        }
      )
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
