<template>
  <span v-if="$root.loading_screen">
    <LoadingWave />
  </span>
  <span v-else>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <PhotoCard
        :is="photo"
        v-for="photo in posts"
        :key="photo.pk"
        :photo_data="photo"
      />
    </div>
  </span>
</template>

<script>
import PhotoCard from '../components/PhotoCard'
import LoadingWave from '../components/LoadingWave'
export default {
  components: {
    PhotoCard,
    LoadingWave,
  },
  created() {
    this.getPosts()
  },
  data() {
    return {
      posts: []
    }
  },
  methods: {
    getPosts() {
      this.$root.showLoadingScreen()
      this.$http.get('http://catstagram.lofty.codes/api/posts').then((res) => {
        res.data.error ? this.$root.updateError(res.data.error) : this.posts = res.data
        this.$root.hideLoadingScreen()
      }).catch(error => {
        this.$root.updateError(error)
      })
    }
  }
}
</script>

<style>

</style>
