<template>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Change Password</p>

            </div>
            <!-- Email input -->
            <div class="form-floating mb-4">
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" v-model="updateData.email" required />
              <label class="form-label" for="form3Example3">Email address</label>

            </div>

            <!-- Password input -->
            <div class="form-floating mb-3">
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" v-model="updateData.password" required />
              <label class="form-label" for="form3Example4">Password</label>

            </div>

            <!-- First Name input -->
            <div class="form-floating mb-3">
              <input type="text" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" v-model="updateData.first_name" required />
              <label class="form-label" for="form3Example4">First Name</label>

            </div>

            <!-- Last Name input -->
            <div class="form-floating mb-3">
              <input type="text" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" v-model="updateData.last_name" required />
              <label class="form-label" for="form3Example4">Last Name</label>
              <div class="invalid-feedback">
                Please enter last name
              </div>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" @click="changePassword()">UpdatePassword</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      updateData: {
        email: '',
        password: '',
        first_name: '',
        last_name: ''
      }
    }
  },
  methods: {
    changePassword() {
      this.$http.post('http://catstagram.lofty.codes/api/users/password_change/', {"email": this.updateData.email, "password": this.updateData.password, "first_name": this.updateData.first_name, "last_name": this.updateData.last_name}).then(res => {
        if(res.status === 200) {
          this.$root.updateSuccess("Password Updated")
          this.$router.push('/login')
        }
      }).catch((error) => {
        this.$root.updateError(error)
      })
    }
  }
}
</script>

<style scoped>
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#logoButton {
   border-radius: 50%;
}
</style>
