<template>
  <SinglePost :pk="photo_name" />
</template>

<script>
import SinglePost from '../components/SinglePost'
export default {
  components: {
    SinglePost,
  },
  computed: {
    photo_name() {
      return this.$route.params.photo
    }
  }
}
</script>

<style>

</style>
